*{
margin: 0;
padding: 0;
}
.box{
text-align: center;
margin-top: 20px;
padding-top: 10px;
padding-inline-start: 10px;
}
#subheading{

background-color:black;
color: aqua;
}
body{

background-image: url(images/images.webp);
background-size: cover;
color: aqua;
}

