*{
    margin: 0;
    padding: 0;
}
body{
    background-color:palevioletred;
    background-size: cover ;
}
.form-container{
margin: 30px auto;
width: 500px;
background-color:rgb(163, 72, 163);
padding: 30px;
}
.input{
border-radius: 10px;
height: 50px;
width: 200px;
padding: 10px;
margin: 5px;

transition-property: all;
transition-duration: 2s;
}
.input:hover{
background-color: rgb(160, 125, 80);
color: rgb(138, 41, 41);
font-size: 15px;
}
#labeles{
font-size: 25px;
color: aliceblue;
/*height: 30px;
width: 150px;*/

}
.button{
background-color: rgb(158, 95, 158);
padding: 10px;
border-radius: 10px;
color: white;
border: 2px solid white;
margin: 20px;
font-size: 25px;
}




