
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">

<div class="item">
    <p>Get The Shape</p>

<div class="item-1">
    <div id="item">Home</div>
    <div id="item">About</div>
    <div id="item">Contact</div>
    <div id="item">Gallery</div>
    <div id="item">Signup</div>
    <div id="item">Login</div>
</div>
</div>
<div class="item-2">
<h1>Shap Your Body Shap<br> Your Life</h1>

<p></p>
<div id="box">

</div>

</div>
    </div>

<div class="item-3">
    <h3>What We Offer</h3>

<div class="col">
    <div id="col-1">
        <img src="images/Weightlifting-PNG.png" height="50px" width="50px">
        <h6>Weight Lifting</h6>
        
        <p></p>
    </div>


    <div id="col-2">
        <img src="images/pic-1.jpg" height="50px" width="50px">
        <h6>Cycling</h6>
        
        <p></p>
    </div>

    <div id="col-3">
        <img src="images/png-transparent-exercise-cardio-running-treadmill-fitness-diet-icon-thumbnail.png"
        height="50px" width="50px">
        <h6>Cardio</h6>
        
        <p></p>
    </div>

    <div id="col-4">
        <img src="images/download.jpg" height="50px" width="50px">
        <h6>Swiming</h6>
        
        <p></p>
    </div>

    

</div>

    
</div>



</body>
</html>