*{
    margin: 0;
    padding: 0;
    
}
.container{
    background-image:url(images/360_F_399307378_LuSoCJrfkRn2jAGaByqAi771EF1QTwdf.jpg) ;
    background-size:cover ;
    border: 2px;
    margin: 10px auto;
    display: grid;
    grid-template-areas: 'header  header header header header''nav nav nav nav nav'
    'sidebar sidebar sidebar sidebar sidebar' 'Main Main Main Main Main'
    'Footer Footer Footer Footer Footer';
    gap: 10px;
}
.item1{
height: 40px;
color: white;
grid-area: header;
display: flex;
gap: 40px;
}
#item-1{
    position: absolute;  
    padding-left: 5px;
    padding-top: 0;
}
#item-2{
    padding-left:580px ;
    padding-top: 10px;
}
#item-3{
    padding-top: 10px;
}
#item-4{
    padding-top: 10px;
}
.item2{
    background-color: orangered;
    color: white;
    height: 40px;
    grid-area: nav;
    display: flex;  
    gap: 20px;
    padding-left: 860px;
}
#item{
    font-size: 15px;
    padding-top: 10px;
}
.item3{
    height: 300px;
    grid-area: sidebar;
    color: white;
    padding-top:80px;
    padding-left: 30px;
}
.box{
    display: flex;
    gap: 3px;
}
#box h1{
    color: orangered;
}
.boxes{
    display: flex;
    margin-top: 10px;
    gap: 5px;  
}
.boxes p{
    height: 35px;
    width: 130px;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
    border: 1px solid white;
}
#boxes{
    height: 35px;
    width: 130px;
    background-color: orangered;
    color:white;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
}
.item4{
    background-color: white;
    height: 600px;
    grid-area: Main;
    padding-top: 40px;
}
.item4 p{
    padding-top: 30px;
    text-align: center;
    font-size: 10px;
}
.item4 h1{
    padding-top: 10px;
    text-align: center;
    color: rgb(88, 88, 107);
    font-size: 20px;
}

.container1{
    display: flex;
    gap: 40px;
    padding-left: 200px;
    padding-top: 50px;
}
#box1{
    border: 1px solid grey;
    height: 350px;
    width: 210px;
    padding: 15px 15px;
}
#box2{
    border: 1px solid grey;
    height: 350px;
    width: 210px;
    padding: 15px 15px;
}
#box3{
    border: 1px solid grey;
    height: 350px;
    width: 210px;
    padding: 15px 15px;
    
}
.item4 h2{
    color: rgb(69, 69, 87);
    padding-left: 20px;
    padding-top: 10px;
}
.item4 h4{
   padding-left: 10px;
   padding-top: 10px;
}
.contant{
    display: flex;
    margin-top: 10px;
    gap: 5px;
}
.contant p{
    height: 20px;
    width: 80px;
    text-align: center;
    padding-top: 10px;
    border: 1px solid grey;
    font-size: 15px;
}
#contant{
    height: 25px;
    width: 40px;
    background-color: orangered;
    color: white;
    padding-top: 10px;
    padding-left: 15px;
}
.item5{
    height: 40px;
    grid-area: Footer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
    padding-top: 5px;
}




